{% extends "base.html" %}

{% block content %}


<div class="container text-center py-4">

        <!-- заголовок -->
        <h1 class="card-title mb-5"> Заполните форму</h1>
        <form method="POST">
            <!-- место для заполнение имени-->
            <div class="mb-3">
                <label for="username" class="form-label">Ваше имя</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>

            <!-- место для заполнение информации-->
            <div class="mb-3">
                <label for="about" class="form-label">Напишите информацио об вас</label>
                <textarea class="form-control" id="about" name="about" rows="3"></textarea>
            </div>

            <!-- кнопка для получения результатов-->
            <button type="submit" class="btn btn-dark mb-5">Узнать результаты</button>
        </form>
</div>



{% endblock %}